{% extends "FaculteCoachBundle::LayoutCoach.html.twig" %}
{% block content %}
    <!-- BEGIN CONTENT -->
<div class="main">
    <div class="about_banner_img">
        <img src="images/price.jpg" class="img-responsive" alt=""/></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Exercice</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        <div class="row price_plans">
            <h3 class="m_2">Nos Exercice</h3>

        <div class="row">
            <div class="btn2">
                <a href="{{ path('faculte_coach_ajouter_exercice')}}"> + Exercice </a>
            </div>
            <br> <br>
            <div class="col-md-3">
                <form action="#" method="get">
                    <div class="input-group">
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"></button>
                    </span>
                    </div>
                </form>
            </div>

            <div class="col-md-9">
                <table class="table table-list-search">
                    <thead>
                    <tr>
                        <th> Description </th>
                        <th> Fichier        </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Exercice is not empty %}
                        {% for exercice in Exercice %}
                            <tr>
                                <td> {{ exercice.description }}</td>
                                <td>
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{{ asset('files/exercices/'~exercice.id~'/'~exercice.pathFile) }}" alt="Exercice" class="img-circle"  style="width: 50px;height: 50px;">
                                    </div>
                                </td>
                                <td><a href="{{ path('faculte_coach_suit_exercice',{'idE':exercice.id})}}" style="height: 25px" style="color: #4bccd8" class="label label-info">suit</a></td>
                                <td><a href="{{ path('faculte_coach_modifier_exercice',{'idE':exercice.id})}}" style="height: 25px" style="color: #e43a45" class="label label-info">Modifier</a></td>
                                <td><a href="{{ path('faculte_coach_supprimer_exercice',{'idE':exercice.id})}}" style="height: 25px" class="label label-info">Supprimer</a></td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div></div>
{% endblock %}

