{% extends "FaculteCoachBundle::LayoutCoach.html.twig" %}
{% block content %}
    <div class="main">
        <div class="about_banner_img"><img src="images/price.jpg" class="img-responsive" alt=""/></div>
        <div class="about_banner_wrap">
            <h1 class="m_11">Tarif</h1>
        </div>
        <div class="border"> </div>
        <div class="container">
            <div class="row price_plans">
                <h3 class="m_2">Nos Tarifs</h3>
                <div class="price_plans_box">

                    {% if Tarif is not empty %}
                        {% for tarif in Tarif %}

                            <div class="col-md-3">
                                <ul class="price1">
                                    <h4>{{ tarif.activite.nomA }}</h4>
                                    <ul class="price_list">
                                        <h1><img src="images/tick.png" alt="" align="middle" width="16" height="14"/><a href="#">{{ tarif.prixT }}</a></p>
                                        </h1>
                                            <!-----pop-up-grid---->
                                    </ul>
                                </ul>
                            </div>
                        {%endfor  %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/facultefront/js/jquery.mousewheel.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/facultefront/js/jquery.contentcarousel.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/facultefront/js/jquery.easing.1.3.js')}}"></script>
{% endblock %}