{% extends "FaculteCoachBundle::LayoutCoach.html.twig" %}
{% block content %}


<div class="main">
    <div class="about_banner_img">
        <img src="images/price.jpg" class="img-responsive" alt=""/></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Votre Profil</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        {% if Coach is not empty %}
        {% for coach in Coach %}
        <div class="row price_plans">
            <h3 class="m_2">Bienvenus : " {{ coach.nom    }} {{ coach.prenom }}"</h3>
            <div class="price_plans_box">

                <div class="col-md-4">
                    <ul class="list-unstyled profile-nav">
                        <li>
                            <img src="{{ asset('files/coachs/'~coach.id~'/'~coach.pathFile) }}"
                                 alt="coach" style="width: 300px;height: 300px;">
                        </li>
                    </ul>
                </div>
                <h1 style="color: black;">  <br> </h1>
                <br><br><br>
                <li>
                    Numéro de CIN : {{ coach.cin }}
                </li>
                <br>
                <li>
                    Date de Naissance : {{ coach.dateNaiss }}
                </li>
                <br>
                <li>
                    Lieu de Naissance : {{ coach.lieuNaiss }}
                </li>
                <br>
                <li>
                    Sexe : {{ coach.sexe }}
                </li>
                <br>
                <li>
                    Télèphone    : {{ coach.tel }}
                </li>
                <br>
                <li>
                     Adresse : {{ coach.adrss }}
                </li>
                <br>
                <li>
                     Sallaire : {{ coach.adrss }}
                </li>
                <div class="btn2">
                    <a href="{{ path('faculte_coach_modifier') }}">Modifier</a>
                </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
